header h1 {
    text-align: left;
    color: #704E4E;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.headerPng {
    float: left;
    width: 115px;
    height: 155px;
    padding-left: 30px;
    padding-right: 30px;

}

header p {
    background-color: #DBC980;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header ul {
    margin-top: 0;
    background-color: #704E4E;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style-type: none; 
    color: white;
}

.btn {
    background-color: #704E4E;
    margin: 10px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.btnKey {
    background-color: #704E4E;
    margin: 10px auto;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 40px;
    padding-left: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: 1px solid #DBC980;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/*css do modal abaixo */ 

