body,
h1,
#root {
    background-color: #EFDDE1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* resolvido erro no teste > incluido o footer */


main {
    background-color: #92C195;
    font-size: 12px;
    color: white;
}

.mensagem-sem-resultado {
    background-color: #EFDDE1;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    color: #704E4E;
    padding: 80px;
}

#quantidadeDeLivros {
    font-size: 18px;
    margin: 20px;
    text-align: center;

}

.filtros {
    display: flex;
    /* Usa o layout flexível */
    justify-content: space-between;
    /* Distribui os itens uniformemente */
    align-items: center;
    margin-left: 10px;
}

h2 {
    margin-right: 10px;
}

label {
    font-size: 13px;
}

select {
    flex: 1;
    /* Ocupa o mesmo espaço disponível */
    margin-right: 10px;
    cursor: pointer;
}

#resetButton {
    background-color: #DBC980;
    display: block;
    /* Torna o botão um bloco */
    margin: 10px auto;
    /* Centraliza horizontalmente com margens */
    padding-top: 8px;
    padding-bottom: 8px;
    /* ajustar isso depois. limpar mais o código */
    padding-right: 80px;
    padding-left: 80px;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

